<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<meta charset="UTF-8" />
		<link href="style/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<main>
			<h1>Chat</h1>
			{{{body}}}
		</main>
	</body>
</html>