<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<meta charset="UTF-8" />
		<link href="style/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<main>
			<h1>Chat</h1>
			<div class="chat-window">
			</div>
			<p><input tpye="text" id="nickname" name="nickname" class="input-text" /></p>
			<p><input tpye="text" id="message" name="message" class="input-text" /></p>
			<p>
				<button>Elküld</button>
			</p>
		</main>
	</body>
</html>